{% extends 'Blog/base.html' %}
{% block title %}Add Post{% endblock %}
{% block add_post_class %}active{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    {{ form.as_p }}
                    {{ form.media }}
                <center>
                    <button class="btn btn-primary">Post</button>
                </center>
            </form>
        </div>
    {% else %}
        <p>You need to <a href="{% url "login" %}">login</a> or <a href="{% url "user_auth:register" %}">register</a> to continue adding posts</p>
    {% endif %}
    <script>
        var name = "{{ user.id }}";
        document.getElementById("author").value = name;
    </script>
{% endblock %}