{% extends 'base.html' %}
{% block title %}KodiBlog{% endblock %}
{{% block category_class %}active{% endblock %}
{% block content %}
    {% if category %}
        <h3>{{ category_name|title }}</h3>
    {% for post in category %}
        <ul>
            <li>
                <a href="{% url 'blog:detail' post.slug post.pk %}">
                    {{ post.blog_title }}
                   {% if user.is_authenticated %}
                        <small>
                        <a href="{% url 'blog:update_post' post.pk%}" style="float: right; padding: 3px;">
                            Edit
                        </a>
                        <a href="{% url 'blog:delete_post' post.pk%}" style="float: right; padding: 3px;">
                             Delete
                        </a>
                    </small>
                   {% endif %}
                </a>
                <br>
                {% if post.excerpt|length < 1 %}
                    {{ post.description|slice:":200" }}
                {% else %}
                    {{ post.excerpt|slice:":200" }}
                {% endif %}
            </li>
        </ul>
    {% endfor %}
    {% else %}
        Sorry, Posts assigned with this category not found
    {% endif %}
{% endblock %}