{% extends 'base.html' %}
    {% block title %}{{ Blog.browser_title }}{% endblock %}
    {% block style %}
        div.row>.col-md-4{
            color:grey;
        font-size:14px;
        }
    {% endblock %}
    {% block content %}
        <h2>{{ Blog.blog_title }}</h2>
        <div class="row mt-4">
            <div class="col-md-4">
                <p>Category: {{ Blog.category }}</p>
            </div>
            <div class="col-md-4">
                <p>By: {{ Blog.author.get_full_name }}</p>
            </div>
            <div class="col-md-4">
                <p>Published Date: {{ Blog.date_published }}</p>
            </div>
        </div>
        <hr>
        <p>{{ Blog.description }}</p>
        <div class="mb-4">
            <center><a href="{% url 'blog:home' %}" class="btn btn-primary" style="margin-bottom: 4px;">Back</a>
        </div>
    {% endblock %}
