{% extends 'base.html' %}
{% load static %}
{% load categories %}
{% block title %}KodiBlog{% endblock %}
{% block home_class %}active{% endblock %}
{% block content %}
    <div class="section">
        <div class="container">

            {# Top section #}
            <div class="row">
                {% for post in posts|dictsortreversed:'ordering_date'|slice:':2' %}
                    <div class="col-md-6">
                        <div class="post post-thumb">
                            {% if post.featured_image.url %}
                                <a class="post-img" href="{% url 'blog:detail' post.slug post.pk %}"><img src="{{ post.featured_image.url }}" alt="" style="object-fit: cover; height: 333px; width:555px;"></a>
                            {% endif %}
                            <div class="post-body">
                                <div class="post-meta">
                                    {% with counter=forloop.counter %}
                                        {% for category in post.category.all %}
                                            <a class="post-category cat-{{ counter }}" href="{% url 'blog:category' category.slug %}">{{ category }}</a>
                                        {% endfor %}
                                    {% endwith %}
                                    <span class="post-date">{{ post.date_published }}</span>
                                </div>
                                <h3 class="post-title"><a href="{% url 'blog:detail' post.slug post.pk %}">{{ post.blog_title }}</a></h3>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>Recent Posts</h2>
                    </div>
                </div>

					<!-- post -->
                {% for post in posts|dictsortreversed:'ordering_date'|slice:'2:8' %}
                <div class="col-md-4">
                    <div class="post">

                        <a class="post-img" href="{% url 'blog:detail' post.slug post.pk %}"><img src="{{ post.featured_image.url }}" alt="" style="object-fit: cover; height: 216px; width:350px;"></a>
                        <div class="post-body">
                            <div class="post-meta">
                                {% with counter=forloop.counter %}
                                    {% for category in post.category.all %}
                                        <a class="post-category cat-{{ counter }}" href="{% url 'blog:category' category.slug %}">{{ category }}</a>
                                    {% endfor %}
                                {% endwith %}
                                <span class="post-date">{{ post.date_published }}</span>
                            </div>
                            <h3 class="post-title"><a href="{% url 'blog:detail' post.slug post.pk %}">{{ post.blog_title }}</a></h3>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            <div class="row">

                <div class="col-md-8">
                    <div class="row">
                        <!-- post -->
                        {% for post in posts|dictsortreversed:'date_published'|slice:'8:9' %}
                            <div class="col-md-12">
                                <div class="post post-thumb">
                                    <a class="post-img" href="{% url 'blog:detail' post.slug post.pk %}"><img src="{{ post.featured_image.url }}" alt="" style="height: 450px; width: 750px; object-fit: cover;"></a>
                                    <div class="post-body">
                                        <div class="post-meta">
                                            {% for category in post.category.all %}
                                                <a class="post-category cat-1" href="{% url 'blog:category' category.slug %}">
                                                    {{ category }}
                                                </a>
                                            {% endfor %}
                                            <span class="post-date">{{ post.date_published }}</span>
                                        </div>
                                        <h3 class="post-title"><a href="{% url 'blog:detail' post.slug post.pk %}">{{ post.blog_title }}</a></h3>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- /post -->

                        <!-- post -->
                        {% for post in posts|dictsortreversed:'date_published'|slice:'9:15' %}
                            <div class="col-md-6">
                                <div class="post">
                                    <a class="post-img" href="{% url 'blog:detail' post.slug post.pk %}"><img src="{{ post.featured_image.url }}" alt="" style="object-fit: cover; height: 216px; width:360px;"></a>
                                    <div class="post-body">
                                        <div class="post-meta">
                                            {% with counter=forloop.counter %}
                                                {% for category in post.category.all %}
                                                    <a class="post-category cat-{{ counter }}" href="{% url 'blog:category' category.slug %}">
                                                        {{ category }}
                                                    </a>
                                                {% endfor %}
                                            {% endwith %}
                                                <span class="post-date">{{ post.date_published }}</span>
                                        </div>
                                        <h3 class="post-title"><a href="{% url 'blog:detail' post.slug post.pk %}">{{ post }}</a></h3>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- /post -->
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- post widget -->
                    <div class="aside-widget">
                        <div class="section-title">
                            <h2>Programming</h2>
                        </div>
                        {% for post in programming|dictsortreversed:'date_published'|slice:':4' %}
                            <div class="post post-widget">
                                {% if post.featured_image.url %}
                                    <a class="post-img" href="{% url 'blog:detail' post.slug post.pk %}"><img src="{{ post.featured_image.url }}" alt="" style="height: 90px; width: 90px; object-fit: cover;"></a>
                                {% endif %}
                                <div class="post-body">
                                    <h3 class="post-title"><a href="{% url 'blog:detail' post.slug post.pk %}">{{ post }}</a></h3>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <!-- /post widget -->

                    <!-- post widget -->
                    <div class="aside-widget">
                        <div class="section-title">
                            <h2>Entertainment</h2>
                        </div>
                        {% for post in entertainment|dictsortreversed:'date_published'|slice:':2' %}
                            <div class="post post-thumb">
                                <a class="post-img" href="{% url 'blog:detail' post.slug post.pk %}"><img src="{{ post.featured_image.url }}" alt="" style="height: 216px; width: 360px; object-fit: cover"></a>
                                <div class="post-body">
                                    <div class="post-meta">
                                        {% for category in post.category.all %}
                                            <a class="post-category cat-3" href="{% url 'blog:category' category.slug %}">{{ category }}</a>
                                        {% endfor %}
                                        <span class="post-date">{{ post.date_published }}</span>
                                    </div>
                                    <h3 class="post-title"><a href="{% url 'blog:detail' post.slug post.pk %}">{{ post }}</a></h3>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- /post widget -->

                    <!-- ad -->
                    <div class="aside-widget text-center">
                        <a href="#" style="display: inline-block;margin: auto;">
                            <img class="img-responsive" src="{% static 'blog/images/ad-1.jpg' %}" alt="" style="object-fit: cover; height: 250px; width: 300px;">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="section section-grey">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2>Education</h2>
						</div>
					</div>

					<!-- post -->
                    {% for post in education|dictsortreversed:'date_published'|slice:':3'  %}
                        <div class="col-md-4">
                            <div class="post">
                                {% if post.featured_image.url %}
                                    <a class="post-img" href="{% url 'blog:detail' post.slug post.pk %}"><img src="{{ post.featured_image.url }}" alt="" style="height: 216px; width: 360px; object-fit: cover"></a>
                                {% endif %}
                                <div class="post-body">
                                    <div class="post-meta">
                                        {% for category in post.category.all %}
                                            <a class="post-category cat-2" href="{% url 'blog:category' category.slug %}">{{ category }}</a>
                                        {% endfor %}
                                        <span class="post-date">{{ post.date_published }}</span>
                                    </div>
                                    <h3 class="post-title"><a href="{% url 'blog:detail' post.slug post.pk %}">{{ post.blog_title }}</a></h3>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
					<!-- /post -->

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>


    <div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12">
								<div class="section-title">
									<h2>Most Read</h2>
								</div>
							</div>
							<!-- post -->
                            {% for post in posts|dictsortreversed:'date_published'|slice:'15:19' %}
                                <div class="col-md-12">
                                    <div class="post post-row">
                                        <a class="post-img" href="{% url 'blog:detail' post.slug post.pk %}"><img src="{{ post.featured_image.url }}" alt="" style="height: 180px; width: 300px; object-fit: cover"></a>
                                        <div class="post-body">
                                            <div class="post-meta">
                                                {% for category in post.category.all %}
                                                    <a class="post-category cat-2" href="{% url 'blog:category' category.slug %}">
                                                        {{ category }}
                                                    </a>
                                                {% endfor %}
                                                <span class="post-date">{{ post.date_published }}</span>
                                            </div>
                                            <h3 class="post-title"><a href="{% url 'blog:detail' post.slug post.pk %}">{{ post.blog_title }}</a></h3>
                                            <p>{{ post.excerpt }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
							<!-- /post -->

							<div class="col-md-12">
								<div class="section-row">
									<button class="primary-button center-block">Load More</button>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<!-- ad -->
						<div class="aside-widget text-center">
							<a href="#" style="display: inline-block;margin: auto;">
								<img class="img-responsive" src="{% static 'blog/images/ad-1.jpg' %}" alt="" style="height: 250px; width: 300px; object-fit: cover">
							</a>
						</div>
						<!-- /ad -->

						<!-- catagories -->
						<div class="aside-widget">
							<div class="section-title">
								<h2>Catagories</h2>
							</div>
							<div class="category-widget">
								<ul>
                                    {% for category in instance.content|category %}
                                        <li><a href="{% url 'blog:category' category.slug %}" class="cat-1">{{ category }}<span>340</span></a></li>
                                    {% endfor %}
								</ul>
							</div>
						</div>
						<!-- /catagories -->

						<!-- tags -->
						<div class="aside-widget">
							<div class="tags-widget">
								<ul>
									<li><a href="#">Chrome</a></li>
									<li><a href="#">CSS</a></li>
									<li><a href="#">Tutorial</a></li>
									<li><a href="#">Backend</a></li>
									<li><a href="#">JQuery</a></li>
									<li><a href="#">Design</a></li>
									<li><a href="#">Development</a></li>
									<li><a href="#">JavaScript</a></li>
									<li><a href="#">Website</a></li>
								</ul>
							</div>
						</div>
						<!-- /tags -->
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
{% endblock %}
