{% extends 'base.html' %}
{% block title %}KodiBlog{% endblock %}
{% block home_class %}active{% endblock %}
{% block content %}
    {% for post in object_list %}
        <ul>
            <li>
                <a href="{% url 'blog:detail' post.slug post.pk %}">
                    {{ post.blog_title }}
                   {% if user.id == post.author.id %}
                        <small>
                            <a href="{% url 'blog:update_post' post.pk%}" style="float: right; padding: 3px;">
                                Edit
                            </a>
                            <a href="{% url 'blog:delete_post' post.pk%}" style="float: right; padding: 3px;">
                                 Delete
                            </a>
                        </small>
                   {% endif %}
                </a>
                <br>
                {% if post.excerpt|length < 1 %}
                    {{ post.description|slice:":200" }}
                {% else %}
                    {{ post.excerpt|slice:":200" }}
                {% endif %}
            </li>
        </ul>
    {% endfor %}
{% endblock %}