{% extends 'base.html' %}
{% block title %}KodiBlog{% endblock %}
{% block home_class %}active{% endblock %}
{% block content %}
    {% for post in object_list %}
        <ul>
            <li>
                <a href="{% url 'blog:detail' post.id %}">
                    {{ post.blog_title }}
                    <small>
                        <a href="{% url 'blog:update_post' post.pk%}" style="float: right; padding: 3px;">
                            Edit
                        </a>
                        <a href="{% url 'blog:delete_post' post.pk%}" style="float: right; padding: 3px;">
                             Delete
                        </a>
                    </small>
                </a>
                <br>
                 {{ post.description }}
            </li>
        </ul>
    {% endfor %}
{% endblock %}